.currentcollection, .collections {
border-radius: 14px;
margin-top: var(--padding-yellow);
width: 94vw;
margin-left: 3vw;
margin-right: 3vw;
font-size: 2vh;
overflow: hidden;
color: white;
}

.currentcollection {
background: var(--gray);
display: flex;
justify-content: space-between;
box-sizing: border-box;
padding-top: 0.7em;
padding-left: 0.7em;
padding-bottom: 0.7em;
position: relative;
}

.currentcollection .right {
position: absolute;
top: 0;
padding-top: calc(0.65 * 2vh);
bottom: 0;
padding-bottom: calc(0.65 * 2vh);
right: 0;
padding-right: 1.1em;
padding-left: 1.1em;
background: #464646;
border-radius: 0 15px 15px 0;
font-size: 2.5vh;
}



#right {
transform: rotate(180deg);
transition: transform 300ms ease;
}

.currentcollection .left {
border-radius: 15px 0 0 15px;
position: absolute;
top: 0;
padding-top: calc(0.65 * 2vh);
bottom: 0;
padding-bottom: calc(0.7 * 2vh);
left: 0;
padding-right: 1.1em;
padding-left: 1.1em;
background: #464646;
font-size: 2.5vh;
}

@media (prefers-color-scheme: light) {
.currentcollection .right, .currentcollection .left {
background: #9a9a9a;
}
}

.currentcollection.hidden .right #right {
transform: rotate(0deg);
transition: transform 300ms ease;
}

.collection {
box-sizing: border-box;
background: var(--gray);
padding: 0.6em;
padding-left: calc(1.2em + 3vh);
margin-top: 0.1em;
}

.collection:first-of-type {
margin-top: 0;
}

.collection::after {
content: '→';
float: right;
font-size: 2.5vh;
margin-top: -0.2vh;
}

.collection img {
position: absolute;
border-radius: 8px;
margin: 0;
z-index: 5;
left: calc(3vw + 0.6em);
height: 2.7vh;
width: 2.7vh;
object-fit: cover;
}


.currentcollection img {
position: absolute;
border-radius: 8px;
margin: 0;
z-index: 5;
left: 4.4em;
height: 2.7vh;
width: 2.7vh;
object-fit: cover;
}

.main {
width: 80%;
}




.collections {
transition: margin-top 200ms 100ms ease-in-out, max-height 300ms 100ms ease-in-out, opacity 300ms ease;
overflow: hidden;
max-height: 70vh;
}

.collections.hidden {
margin-top: 0;
max-height: 0;
opacity: 0;
}



@media screen and (min-device-width: 500px) {

.currentcollection, .collections {
margin-top: 2.924vw;
}

}


@media (orientation: landscape) and (max-device-width: 500px) {

.currentcollection, .collections {
margin-top: 0;
display: none;
}

}
