@font-face {
    font-family: "SFProDisplayRegular";
    src: url('SFProDisplayRegular.otf') format('opentype');
}

@font-face {
    font-family: "SFProDisplaySemibold";
    src: url('SFProDisplaySemibold.otf') format('opentype');
}

.moreholder {
    position: fixed;
    right: 11.31vw;
    bottom: 11.31vw;
    display: flex;
    align-items: flex-end;
}

.refreshtext {
    font-size: 16px;
    color: #555; 
    position: absolute;
    text-align: center;
    width: 100vw;
    transform: translateY(-200%); 
}

#moremenu {
opacity: 1;
transition: all 1s;
}

#moremenu.away {
opacity: 0;
transition: all 1s;
}

.box{
opacity: 0;
transition: opacity 500ms;
}

.box.animated{
opacity: 1;
}

#header-item, #heading {
opacity: 0;
transition: opacity 300ms;
}

#header-item.there, #heading.there {
opacity: 1;
transition: opacity 300ms;
}

:root {
--primary: black;
--secondary: white;
--padding-yellow: 5.387vw;
--padding-red: 3.379vw;
--padding-green: 2.918vw;
--gray: rgba(51, 51, 51, 0.8);
--box: #474747;
--third: #929292;
}

@media(prefers-color-scheme: light){
     :root{
     --primary: white;
     --gray: rgba(173, 173, 173, 0.8);
     --secondary: black;
     --box: #d6d6d6;
     }
}

A{
text-decoration: none;
}

img#more{
height: 14.37vw;
width: 14.37vw;
border-radius: 50%;
box-shadow: 0 0 35px rgba(0, 0, 0, 0.85);
background: #0079ff;
    transform: translateY(0);
    transition: transform 250ms;
z-index: 10;
}

img#more.away {
    transform: translateY(calc(150px + 100%));
    transition: transform 400ms ease-in-out;
    z-index: 10;
}

img#more.opened {
    transform: rotate(-45deg); 
}

#options{
    position: fixed;
    right: 13.6vmin;
opacity: 0;
    bottom: 13.6vmin;
    font-family: -apple-system;
    transition: opacity 200ms;
pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10;
}

#options.opened{
pointer-events: none;
transition: opacity 300ms;
opacity: 1;
}

.share, .submit, .about, .refresh {
color: white;
    transform: translateY(0);
height: 9.5vmin;
right: 13.6vmin;
display: flex; 
align-items: center;
text-shadow: 0px 0px 20px black;
    transition: transform 300ms;
}

.submit img, .share img, .about img, .refresh img{
    height: 9.5vmin;
    width: 9.5vmin;
    margin-left: 3vmin;
    border-radius: 50%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.85);
background: #929292;
}

#options.opened .submit{
transform: translateY(-18.61vmin);
transition: transform 300ms;
    pointer-events: all;
}

#options.opened .share {
transform: translateY(-34.14vmin);
transition: transform 300ms;
    pointer-events: all;
}

#options.opened .about, #options.opened .refresh {
transform: translateY(-49.67vmin);
transition: transform 300ms;
    pointer-events: all;
}

#options .submit, #options .share, #options .about, #options .refresh {
transform: translateY(0);
transition: transform 300ms;
}


body{
background: var(--primary); 
margin: 0;
padding-bottom: 0;
}

#content {
font-family: -apple-system;
font-size: 50pt;
margin: 0;
padding-top: 28vw;
filter: blur(0px);
transition: filter 250ms;
}

#content.opened {
filter: blur(10px);
}

#content::after{
background: rgba(0, 0, 0, 0);
transition: background 250ms;
}

#content.opened::after{
content: '';
position: fixed;
width: 100vw;
height: 100vh;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.3);
}

#installer{
width: 80vw;
padding-left: 10vw;
padding-right: 10vw;
background: var(--primary);
color: var(--secondary);
position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#installer .howtoinstall{
font-family: SFProDisplaySemibold;
font-size: 8.9vw;
}

table#instructions{
padding-top: 2vw;
width: 100%;
border: 0;
margin: 0;
font-family: -apple-system;
font-size: 4.6vw;
}

td#number{
padding-top: 5vw;
width: 10%;
color: #929292;
}

td#step{
padding-top: 5vw;
width: 90%;
color: var(--secondary);
vertical-align: top;
}

img#imgstep{
height: 5vw;
padding-left: 2vw;
}

.header {
background: var(--gray);
-webkit-backdrop-filter: blur(20px);
width: 100vw;
position: fixed;
padding: var(--padding-yellow);
padding-top: calc(var(--padding-yellow) + 8.141vw);
font-family: SFProDisplaySemibold;
display: flex;
align-items: center;
color: white;
font-size: 7.987vw;
z-index: 15;
}

#ios134popup {
position: fixed;
top: 28vw;
right: 0;
left: 0;
bottom: 0;
padding-top: 28vw;
font-family: -apple-system;
color: var(--secondary);
width: 80vw;
background: var(--primary);
font-size: 5vw;
padding: 0 10vw;
opacity: 1;
transition: opacity 250ms;
pointer-events: all;
z-index: 11;
}

#ios134popup.invisible {
opacity: 0;
transition: opacity 250ms;
pointer-events: none;
}

.ios134popup-button {
background: #0079ff;
color: white;
padding: 1em 2.5em;
border-radius: 2em;
margin: 0 auto;
text-align: center;
margin-top: 10vh;
}

.header.popup {
position: initial;
padding: 5vh 0;
background: transparent;
-webkit-backdrop-filter: initial;
display: block;
width: 80vw;
text-align: center;
color: var(--secondary);
}

.header img{
height: 7.987vw;
padding-right: 3vw;
}



img#wp{
width: 100vw;
height: 100vw;
object-fit: cover;
}

.wallpapers{
padding-bottom: 37vw;
}

.box {
width: 100vw;
margin: 0;
margin-top: var(--padding-yellow);
position: relative;
}

.author{
color: white;
font-family: -apple-system;
font-size: 3.687vw;
padding: var(--padding-yellow);
width: 85vw;
}

.author::before{
content: 'Photo by ';
}

.author::after{
content: ' on Unsplash.';
}

.image{
color: white;
font-family: -apple-system;
font-size: 3.687vw;
padding: var(--padding-yellow);
width: 85vw;
}

.downloadcircle{
box-sizing: border-box;
margin: var(--padding-red);
background: #0079ff;
width: 8.295vw;
height: 8.295vw;
border-radius: 50%;
color: white;
font-size: 4.762vw;
text-align: center;
display: flex;
align-items: center;
margin-left: auto;
padding-left: 2.2vw;
}

.text {
display: flex;
align-items: center;
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}









@media screen and (min-device-width: 500px){

#ios134popup {
top: 7.67vw;
padding-top: 7.67vw;
font-size: 2.5vw;
padding: 0 25vw;
width: 50vw;
}

.ios134popup-button {
width: 50%;
margin-left: auto;
margin-right: auto;
padding: 0.5em 1.75em;
margin-top: 5vh;
}

.header.popup {
width: 50vw;
padding-bottom: 0;
}

.refreshtext {
    transform: translateY(-130%); 
}

img#more{
height: 8.73vmin;
width: 8.73vmin;
box-shadow: 0 0 35px rgba(0, 0, 0, 0.85);
}
    
.moreholder {
right: 5.73vmin;
bottom: 5.73vmin;
}

.share, .submit, .about, .refresh {
height: 5.73vmin;
font-size: 2.5vmin;
text-shadow: 0px 0px 20px black;
}

    #options {
        right: 7.27vmin;
        bottom: 7vmin;
        pointer-events: none;
    }
    
.submit img, .share img, .about img, .refresh img{
    height: 5.73vmin;
    width: 5.73vmin;
    margin-left: 2vmin;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.85);
}

#options.opened .submit{
transform: translateY(-9.96vmin);
    pointer-events: all;
}

#options.opened .share {
transform: translateY(-18.19vmin);
    pointer-events: all;
}

#options.opened .about, #options.opened .refresh {
transform: translateY(-26.42vmin);
    pointer-events: all;
}

#options .submit, #options .share, #options .about, #options .refresh {
    transform: translateY(0);
}



.wallpapers{
display: flex;
flex-wrap: wrap;
}

#content {
padding-top: 7.67vw;
}

.header {
font-size: 3.3557vw;
height: 7.67vw;
padding-top: 0;
padding: 0;
align-items: center;
justify-content: center;
padding-left: auto;
padding-right: auto;
}

.header img{
height: 3.3557vw;
padding-right: 2vw;
}

img#wp{
width: 29.434vw;
height: 29.434vw;
}

.box {
width: 29.434vw;
margin-left: 2.924vw;
margin-top: 2.924vw;
margin-right: 0;
margin-bottom: 0;
border-radius: 20px;
overflow: hidden;
}

.author{
font-size: 1.5vw;
padding: 1.821668vw;
width: 28vw;
}

.image{
font-size: 1.5vw;
padding: 1.821668vw;
width: 28vw;
}

.text {
border-radius: 0 0 20px 20px;
}

.downloadcircle{
margin: 1.05465vw;
width: 2.5887vw;
height: 2.5887vw;
font-size: 1.486vw;
margin-left: auto;
padding-left: 0.62vw;
}

#installer{
width: 60vw;
padding-left: 20vw;
padding-right: 20vw;
}

#installer .howtoinstall{
font-size: 4.45vw;
}

table#instructions{
padding-top: 2vw;
font-size: 2.3vw;
}

td#number{
padding-top: 2.5vw;
width: 5%;
}

td#step{
width: 95%;
padding-top: 2.5vw;
}

img#imgstep{
height: 2.5vw;
padding-left: 1vw;
}

}





@media (orientation: landscape) and (max-device-width: 500px) {

#ios134popup {
opacity: 0;
transition: opacity 250ms;
pointer-events: none;
}

.wallpapers{
padding-left: 0;
margin-top: 16.44vh;
}
.header {
opacity: 0;
display: none;
}

body {
width: 100vw;
max-height: 30vh;
padding-bottom: 0;
}
   
#content {
padding-top: 0;
margin-top: 0;
}

.box{
box-sizing: border-box;
height: 67.43vh;
margin-left: 0;
margin-right: 0;
margin-bottom: 8.14vh;
margin-top: 0;
padding-top: 0;
background: var(--primary);
width: 107.43vh;
padding-right: 8.45vw;
padding-left: 8.45vw;
display: flex;
}

img#wp{
flex: 50%;
box-sizing: border-box;
margin-left: 0;
margin-right: 16.44vh;
height: 67.43vh;
width: 67.43vh;
margin-bottom: 0;
border-radius: 20px;
margin-top: 0;
}

.box .text {
flex: 50%;
font-size: 3.687vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
position: initial;
text-shadow: initial;
background-image: initial;
}

.downloadcircle{
margin: 0;
margin-left: 0;
margin-top: calc(4.76vh / 2) ;
background: #0079ff;
width: 27.34vh;
height: 9.52vh;
border-radius: 3vh;
color: white;
font-size: 3.687vh;
display: flex;
align-items: center;
padding-left: 3vh;
padding-right: 3vh;
word-spacing: 2vh;
}

.downloadcircle::after{
padding-left: 1vh;
content: ' Download';
}

.author{
font-size: 3.687vh;
text-align: left;
padding: 0;
width: 36.81vw;
margin-bottom: calc(4.76vh / 2);
color: var(--third);
}

.image{
font-size: 3.687vh;
text-align: left;
padding: 0;
width: 36.81vw;
margin-bottom: calc(4.76vh / 2);
color: var(--third);
}

.wallpapers{
padding-bottom: 37vh;
}

img#more{
height: 14.37vh;
width: 14.37vh;
}
    
.moreholder {
right: 11.31vh;
bottom: 11.31vh;
}

.share, .submit, .about, .refresh {
color: var(--secondary);
}

}
